<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../../CSS/Admin/statiscal/statiscal.css" />
    <link rel="stylesheet" href="../../../CSS/Admin/Account/account.css" />
  </head>
  <body>
    <div class="admin_main">
      <div class="admin_main-left">
        <div class="img_logo">
          <center>
            <img src="../../../Image/logo_footer.png" width="200" alt="" />
          </center>
          <div class="controlTittle">
            <img
              style="color: white"
              src="../../../Image/wrench.png"
              width="35"
              alt="" />
            <h2>Danh mục quản lý</h2>
          </div>
        </div>
        <div class="adminHandle">
          <div class="boxHandle">
            <img src="../../../Image/packaging 1.png" width="30" alt="" />
            <a href="../../../Layouts/Admin/index.html">Sản phẩm</a>
          </div>
          <div class="boxHandle">
            <img src="../../../Image/useradmin.png" width="30" alt="" />
            <a href="">Tài khoản</a>
          </div>
          <div class="boxHandle">
            <img src="../../../Image/info 1.png" width="30" alt="" />
            <a href="">Thống kê</a>
          </div>
        </div>
      </div>

      <div class="admin_main-right">
       <center> <h1 class="title_Page">Danh sách tài khoản </h1></center>
        <div class="adminAccount">
            <h1 class="admintitle">Tài khoản quản trị viên</h1>
             <table class="table1">
                <thead>
                  <th>STT</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Mật khẩu</th>
                </thead>
              </table>
              <h1 class="usertitle">Tài khoản người dùng</h1>
               <table class="table2">
                <thead>
                  <th>STT</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Mật khẩu</th>
                </thead>
              </table>
        </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../../JS/Admin/account/account.js"></script>
</html>
