<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../index.css" />
    <link rel="stylesheet" href="../../CSS/Liên hệ/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="bgr inactive"></div>
      <!-- MENU -->
      <div class="menu">
        <div class="menu_leftItem">
          <img src="../../Image/icon1_menu.png" width="50" height="40" alt="" />
          <p>
            Số 11 đường Ven Sông Lừ, Đông Tác, P. Kim Liên, Đống Đa, Hà Nội.
          </p>
        </div>
        <div class="menu_centerItem">
          <img src="../../Image/logo_menu.png" width="250px" alt="" />
        </div>
        <div class="menu_rightItem">
          <img src="../../Image/icon2_menu.png" width="50" alt="" />
          <div class="phone_menuText">
            <p>085.4027.271</p>
            <p>038.4985.33</p>
          </div>
        </div>
      </div>
      <div class="form-box">
        <div class="header_form">
          <h3 class="tittle">Đăng nhập</h3>
          <img
            class="close_modal"
            src="../../Image/cancel.png"
            width="29"
            height="29"
            alt="" />
        </div>
        <div class="img_logo">
          <img
            src="../../Image/logo_footer.png"
            width="100"
            alt=""
            class="logo" />
        </div>
        <hr />
        <form action="">
          <div class="input-group">
            <div class="input-field" id="name-field">
              <p>Nhập tên của bạn</p>
              <input type="email" placeholder="" />
              <img src="../../Image/user 1.png" width="15" alt="" />
            </div>
            <div class="input-field">
              <p>Nhập địa chỉ email của bạn</p>
              <input type="email" placeholder="" />
              <img src="../../Image/email.png" width="15" alt="" />
            </div>
            <div class="input-field">
              <p>Nhập mật khẩu của bạn</p>
              <input class="input_pass" type="password" placeholder="" />
              <i class="fa-solid fa-eye-slash passIcon"></i>
            </div>
            <div class="support_account">
              <div class="forgot_account">
                <a href="">Quên mật khẩu?</a>
              </div>
            </div>
            <div class="btn_control">
              <a target="_blank" class="textAuth" href="#">Login</a>
            </div>
            <p class="support_signUp" id="signUp-field">
              Nếu bạn chưa có tài khoản. Vui lòng?
              <strong><a href="#">Đăng ký</a></strong>
            </p>
            <p class="support_signIn isActive" id="signIn-field">
              Nếu bạn đã có tài khoản. Vui lòng?
              <strong><a href="#">Đăng nhập</a></strong>
            </p>
          </div>
        </form>
      </div>

      <div class="menu_auth">
        <div class="menu_authLeftItem">
          <img
            src="../../Image/icon_menuAuth.png"
            width="66"
            height="40"
            alt="" />
          <a class="tab_item is-show" href="#">LOA MARSHALL</a>
          <a class="tab_item" href="#">TAI NGHE MARSHALL</a>
          <a href="">BLOG </a>
          <a href="">LIÊN HỆ</a>
        </div>
        <div class="menu_authRightItem">
          <div class="input_search">
            <input style="margin: 0" type="text" />
            <img
              class="search_icon"
              src="../../Image/iconSearch_menuAuth.png"
              width="15"
              alt="" />
          </div>
          <img
            class="user_icon"
            src="../../Image/user_menuauth.png"
            width="42"
            height="42"
            alt="" />
          <img
            class="cart_icon"
            src="../../Image/cart_menuauth.png"
            width="42"
            height="42"
            alt="" />
        </div>
      </div>
      <div class="content_Page">
        <div class="btn_aboutProduct">
          <button>
            Trang chủ
            <span>/ LIÊN HỆ</span>
          </button>
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.996721098685!2d106.68323987438883!3d10.811562189339316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528dd7b8cc53d%3A0xeb30a11b59e81a06!2zNDUgTmd1eeG7hW4gVHJ1bmcgVHLhu7FjLCBQaMaw4budbmcgNSwgQsOsbmggVGjhuqFuaCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1695656367959!5m2!1svi!2s"
            width="100%"
            height="450"
            style="border: 0; margin-top: 20px"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="supportProblem">
          <form action="" class="">
            <div class="content_form">
              <h2>Liên hệ với chúng tôi</h2>
              <input
                type="text"
                class="input_supportForm"
                placeholder="Tên của bạn" />
              <br />
              <br />
              <input
                type="text"
                class="input_supportForm"
                placeholder="Số điện thoại của bạn" />
              <br />
              <br />
              <input
                type="text"
                class="input_supportForm"
                placeholder="Email của bạn" />
              <br />
              <br />
              <textarea
                rows="4"
                cols="50"
                placeholder="Vấn đề bạn cần hỗ trợ...."></textarea>
              <input
                class="btnSubmit_contact"
                type="submit"
                placeholder="Gửi hỗ trợ" />
            </div>
          </form>
        </div>
      </div>
      <div class="Footer">
        <div class="content_Footer">
          <div class="boxContent_Footer">
            <div class="img_box">
              <img
                src="../../Image/logo_footer.png"
                width="200"
                height="52"
                alt="" />
            </div>
            <p class="desc_footer">
              Marshall Store Vietnam mong muốn đem đến những sản phẩm đẹp, chất
              lượng cùng những câu chuyện và những trải nghiệm mới mẻ cho khách
              hàng của mình với dịch vụ tốt nhất.
            </p>
            <p class="text_Sub">Subscribe</p>
          </div>
          <div class="boxContent_Footer">
            <div class="text_categories">
              <p>Categories</p>
            </div>
            <ul class="categories_item">
              <li class="categories_link"><a href="">Portable Speakers </a></li>
              <li class="categories_link"><a href="">Home Speakers </a></li>
              <li class="categories_link"><a href="">Headphones </a></li>
              <li class="categories_link"><a href="">Phụ kiện Marshall</a></li>
            </ul>
          </div>
          <div class="boxContent_Footer">
            <div class="text_categories">
              <p>Contact US</p>
            </div>
            <ul class="categories_item">
              <li class="categories_link"><a href="">Portable Speakers </a></li>
              <li class="categories_link"><a href="">Home Speakers </a></li>
              <li class="categories_link"><a href="">Headphones </a></li>
              <li class="categories_link"><a href="">Phụ kiện Marshall</a></li>
            </ul>
          </div>
          <div style="margin-top: 40px" class="boxContent_Footer">
            <div class="text_categories">
              <p>Marshall VietNam</p>
            </div>
            <p class="desc_footer">Đại lý/ Dự án: 092.6562.888</p>
            <p class="desc_footer">Mail: marshallstorevietnam.vn@gmail.com</p>
            <p class="desc_footer">
              Loca1: Đường Đông Hưng Thuận 2, p, Tân Hưng Thuận, Quận 12. TP.
              HCM
            </p>
            <p class="desc_footer">
              Loca1: Đường Đông Hưng Thuận 2, p, Tân Hưng Thuận, Quận 12. TP.
              HCM
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../JS/Liên hệ/contact.js"></script>
</html>
