<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../CSS/Admin/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="admin_main">
        <div class="admin_main-left">
          <div class="img_logo">
            <center>
              <img src="../../Image/logo_footer.png" width="200" alt="" />
            </center>
            <div class="controlTittle">
              <img
                style="color: white"
                src="../../Image/wrench.png"
                width="35"
                alt="" />
              <h2>Danh mục quản lý</h2>
            </div>
          </div>
          <div class="adminHandle">
            <div class="boxHandle">
              <img src="../../Image/packaging 1.png" width="30" alt="" />
              <a href="../../Layouts/Admin/Sản phẩm/manageProduct.html"
                >Sản phẩm</a
              >
            </div>
            <div class="boxHandle">
              <img src="../../Image/useradmin.png" width="30" alt="" />
              <a href="../../Layouts/Admin/Account/account.html">Tài khoản</a>
            </div>
            <div class="boxHandle">
              <img src="../../Image/info 1.png" width="30" alt="" />
              <a href="../../Layouts/Admin/Statiscal/statiscal.html"
                >Thống kê</a
              >
            </div>
          </div>
        </div>
        <div class="admin_main-right">
          <h1
            style="
              text-align: center;
              font-weight: bold;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 40px;
            ">
            Hi Admin. Have a nice day
          </h1>
          <div class="admin_Manage"></div>
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="../../JS/Admin/admin.js"></script>
</html>
