<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../../../CSS/Admin/SanPham/style.css" />
        <link
          rel="stylesheet"
          href="../../../CSS/Admin/statiscal/statiscal.css" />
      </head>
      <body>
        <div class="admin_main">
          <div class="admin_main-left">
            <div class="img_logo">
              <center>
                <img src="../../../Image/logo_footer.png" width="200" alt="" />
              </center>
              <div class="controlTittle">
                <img
                  style="color: white"
                  src="../../../Image/wrench.png"
                  width="35"
                  alt="" />
                <h2>Danh mục quản lý</h2>
              </div>
            </div>
            <div class="adminHandle">
              <div class="boxHandle">
                <img src="../../../Image/packaging 1.png" width="30" alt="" />
                <a href="../../../Layouts/Admin/index.html">Sản phẩm</a>
              </div>
              <div class="boxHandle">
                <img src="../../../Image/useradmin.png" width="30" alt="" />
                <a href="../../../Layouts/Admin/Account/account.html"
                  >Tài khoản</a
                >
              </div>
              <div class="boxHandle">
                <img src="../../../Image/info 1.png" width="30" alt="" />
                <a href="../../../Layouts/Admin/Statiscal/statiscal.html"
                  >Thống kê</a
                >
              </div>
            </div>
          </div>

          <div class="admin_main-right">
            <h1
              style="
                text-align: center;
                font-weight: bold;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 40px;
              ">
              Thống kê sản phẩm
            </h1>
            <h1 class="mostBuy">Sản phẩm bán chạy</h1>
            <div class="admin_Manage">
              <table class="table1">
                <thead>
                  <th>STT</th>
                  <th>Loại sản phẩm</th>
                  <th>Tên sản phẩm</th>
                  <th>Số lượt mua</th>
                </thead>
              </table>
            </div>
            <h1 class="soldProduct">Sản phẩm đã bán</h1>
            <div class="admin_Manage">
              <table class="table2">
                <thead>
                  <th>STT</th>
                  <th>Loại sản phẩm</th>
                  <th>Tên sản phẩm</th>
                  <th>Giá bán</th>
                  <th>Số lượng</th>
                  <th>Ngày bán</th>
                </thead>
              </table>
            </div>
          </div>
        </div>

        <!-- FORM BOX2 -->
      </body>
      <script src="../../../JS/Admin/Statiscal/statiscal.js"></script>
    </html>
  </body>
</html>
